[submodule "git-novice"]
	path = git-novice
	url = https://github.com/swcarpentry-i18n/git-novice.git
[submodule "shell-novice"]
	path = shell-novice
	url = https://github.com/swcarpentry-i18n/shell-novice.git
[submodule "python-ecology-lesson"]
	path = python-ecology-lesson
	url = https://github.com/swcarpentry-i18n/python-ecology-lesson.git
