[submodule "git-novice"]
	path = git-novice
	url = https://github.com/swcarpentry-i18n/git-novice.git
[submodule "shell-novice"]
	path = shell-novice
	url = https://github.com/swcarpentry-i18n/shell-novice.git
[submodule "python-ecology-lesson"]
	url = https://github.com/carpentries-i18n/python-ecology-lesson.git
	path = python-ecology-lesson
[submodule "instructor-training"]
	path = instructor-training
	url = git@github.com:carpentries-i18n/instructor-training.git
[submodule "r-intro-geospatial"]
	url = https://github.com/carpentries-i18n/r-intro-geospatial.git
	path = r-intro-geospatial
[submodule "r-raster-vector-geospatial"]
	url = https://github.com/carpentries-i18n/r-raster-vector-geospatial.git
	path = r-raster-vector-geospatial
[submodule "lc-open-refine"]
	url = https://github.com/carpentries-i18n/lc-open-refine.git
	path = lc-open-refine
[submodule "python-novice-gapminder"]
	url = https://github.com/carpentries-i18n/python-novice-gapminder.git
	path = python-novice-gapminder
[submodule "gap-lesson"]
	url = https://github.com/carpentries-i18n/gap-lesson.git
	path = gap-lesson
